.generic-content-container {
  p {
    line-height: 1.65;
    font-size: 1.125rem;
    margin: 1.8rem 0;
  }

  p a {  /* Descendant selector: Any links 'a' within a paragraph 'p' will be bold */
    font-weight: 700;
  }
}
